<!DOCTYPE html>
<html>
<head>
    <title>Output</title>
    <meta charset="UTF-8">
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
        body {background: linear-gradient(cornflowerblue, powderblue) fixed;}
        h1   {
            color: blue;
            text-align = center;
        }
        h3 {
            color:white;
        }
    </style>
</head>

<body>
    <div class = "content">
        %txtInput = txtInput[::-1]
        <h1>Reversed String</h1>
        <h3>{{ txtInput }}</h3>
        <h2><a href = "/">Let's do another!</a></a></h2>
    </div>
</body>